* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	
}
#menu ul {
    padding:0px;
    margin:0px;
	list-style:none;
}
#menu ul li { display: inline; }

#menu ul li a {
	margin-right: 30px;
    display: inline-block;
    background-color:#090b16;
    text-decoration: none;
}
li:nth-child(4):after {
  content:"";
  width:80px;
  height:3px;
  position:absolute;
  background:#2661e2;
  top:0;
  left:0;
  transform:translateX(0);
  transition:.5s;
}
 
nav ul li:nth-child(2):hover ~ li:nth-child(4):after { transform:translateX(82px); }
nav ul li:nth-child(3):hover ~ li:nth-child(4):after { transform:translateX(190px); }
nav ul li:nth-child(4):hover:after { transform:translateX(287px); }
 
.men{

	padding:20px 25px;
	height: 60px;
	width: 100%;
	background-color: #090b16;
	position: fixed;
	z-index: 99999;
}

.imag {
	background-color:#090b16; 
	height: 100vh;
	text-align: center;
}



#foto {
	border-radius: 150px;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	margin-top: 80px;
	max-width: 230px;
	max-height: 230px
}

#foto:hover {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	transform: scale3d(1.1, 1.1, 1);
}

ul {
	list-style: none;
	vertical-align: top;
}

ul li {
	margin-right: 10px;
	color: white;
}

li a {
	text-decoration: none;
	color: inherit;
	padding-bottom: .2em;
}

#informacoes li img {
	vertical-align: middle;
	width: 20px;
	margin: 5px 10px;
}

#informacoes {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	text-align: center;
}

#nome {
	margin-top: 30px;
	color: white;
	font-size: 40px;
}

.title {
	font-size: 40px;
}

.paragrafo {
	padding: 20px 30px 5px 0px;
	font-size: 18px;
}

section
 {
	max-width: 800px;
}

.formacao {
	padding: 80px 15px 100px 140px;
	margin-top: 100px;
	color: #ffffff;
	height: 280px;
	background: url('../img/desktop.jpg')no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	min-height: 100%;
}

@-webkit-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}

@-moz-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}

@keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}

.scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	margin-top: 70px;
}

.scroll-btn>* {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
	color: #ffffff;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}

.scroll-btn .mouse>* {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

.footer {
	height: 130px;
	color: #ffffff;
	margin-top: 50px;
	background-color: #090b16;
	padding: 30px;
	text-align: center;
}

#skills span {
	top: -25px;
	left: 2%;
	position: relative;
	font-size: 1.2em;
	font-weight: bolder;
	color: #fff;
}

progress {
	background-color: #cfddfc;
	border: 0;
	height: 12px;
	width: 100%;
	border: 1px solid #cfddfc;
	border-radius: 10px;
}

progress::-webkit-progress-bar {
	background-color: #cfddfc;
	
}

progress::-webkit-progress-value {
	background-color: #2661e2;
	border: 1px solid #2661e2;
	border-radius: 10px;
}

progress::-moz-progress-bar {
	background-color: #2661e2;
	border: 1px solid #2661e2;
	border-radius: 10px;
}
.conhecimento{
padding-top: 45px;
	
}
#skills{
	
	margin: 0 auto;
}

.contacts li {
	margin-top: 15px;
	display: inline-block;
}

.img-box{
	max-width: 800px;
	float: left;
	margin-right: -28%;

}
.sobre{
	padding-top: 80px;
}
.article-box{
	box-shadow: 8px 8px 16px rgba(25,6,11,.5);
	background-color: #fff;
    float: left;
    margin-top: 7%;
    padding: 35px 0 35px 50px;
    width: 100%;
    max-width: 530px;
    position: relative;
    z-index: 2;
}

.name-skill{
	margin-top:10px;

}

.trabalhos{
	padding:50px 130px 50px 130px;
	

  
}
.git{
	margin:0 auto;
	max-width: 1000px ;
}
.github{
	display:inline-block;
  overflow: hidden;
  margin-right: 10px;
  width: 32%;
  margin-bottom: 8px;
  min-width: 320px;
	box-shadow: -1px 6px 12px rgba(25,6,11,.5);
	border: 1px solid #ffffff;
	background-color: #ffffff;
	text-align: center;
	padding:35px 35px 10px 35px;
	min-width:250px;
}

hr{
 border-color:#cecece;
}

.language{
	margin-bottom: 55px;
}
#logo {
  margin-top: 70px;
  fill: transparent;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 100px;
  stroke-dasharray: 650 650;
  stroke-dashoffset: 650;
  stroke: #ffffff;
  stroke-width: 3px;
  -ms-transition: stroke-dashoffset 5s linear;
  -webkit-transition: stroke-dashoffset 5s linear;
  -moz-transition: stroke-dashoffset 5s linear;
  transition: stroke-dashoffset 5s linear;
}

#logo.trace {
  stroke-dashoffset: 0;
}

@media (min-width: 0) and (max-width: 767px) {
    .sobre {
        padding: 22px 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 1280px) {
    .img-box {
        max-width: 100%
	}
	.scroll-btn{
		display:none;
	}
	#informacoes{
		display:inline-block;
		vertical-align: top;

	}
}
@media (min-width: 0) and (max-width: 767px) {
    .img-box {
        margin-left: 5px;
        margin-right: 0;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .article-box {
        max-width: 430px;
    }
}
@media (min-width: 0) and (max-width: 991px) {
    .article-box {
     	margin-top: -75px;
        max-width: 360px;
        padding: 17px 0 17px 40px;
    }
}
@media (min-width: 0) and (max-width: 767px) {
	.trabalhos{
		padding:10px;
	}
    .article-box {
        max-width: 90%;
        margin-top: -65px;
        padding: 17px 0 17px 40px;
    }
}

@media screen and (max-width:995px){
	#logo{
        font-size: 75px;
    }
    svg{
        width: 550px;
    }
}

@media screen and (max-width:556px){
	#logo{
		font-size: 55px;
		margin-top: 40px;
    }
    svg{
        width: 350px;
	}
	
	#foto{
		margin-top:180px;
		border-radius: 20px;
		max-height: 150px;
		max-width: 150px;
	}
	.formacao{
		padding:60px 10px 40px 10px;
	}
	
}

@media screen and (max-width:425px){
	#menu ul{
		font-size:10px;
		}
		#menu ul li a {
			margin-right: 5px;
		}

		li:nth-child(4):after{
			display:none;
		}
}

@media screen and (max-width:345px){

	#logo{
		font-size: 45px;
	}

	svg{
        width: 240px;
	}

	.github{
		min-width: 95%;
	}
}

